<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rongxun.xqlc">

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- ############################################################################### -->
    <!-- ########################## 极光推送要求权限 Start ############################### -->
    <!-- ############################################################################### -->
    <!-- Required -->
    <permission
        android:name="com.rongxun.xqlc.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.rongxun.xqlc.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- ############################################################################### -->
    <!-- ########################## 极光推送要求权限 End ############################### -->
    <!-- ############################################################################### -->
    <application
        android:name=".Application.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- 7.0安装错误解决 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 作者：hqzxzwb -->
        <!-- 链接：http://www.jianshu.com/p/68a4e8132fcd -->
        <!-- 來源：简书 -->
        <!-- 著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。 -->

        ////======================友盟 start====================////
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="572c515ee0f55a412e000020" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="238d4220f6663694a52a4ec2b18636c7" />
        ////======================友盟 end======================////

        <!-- main -->
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.BorrowActivity"
            android:screenOrientation="portrait" />

        <!-- 启动页 -->
        <activity
            android:name=".Activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GuideTheme" />
        <activity
            android:name=".Activities.AdsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PlaySuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RegisterSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.HarvestAddressActiviyy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SafePassWordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SafeControlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.BackMoneyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ZsPlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SelectBankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.GestureCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.CustomerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ManageDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.QuicklyPlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.InvestResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ForgetLoginPassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ForgetSafePassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AccountManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RealNameAuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ModifyLoginPassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ModifySafePassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.InvestRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RepayMentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MyBankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ProjectInvestActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.SelectPicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ChargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.CashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SafeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ExplaneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.HongBaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ArticleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ArticleListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ArticleContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ProjectTenderRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RechargeRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.TxRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RegisterNegotiateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.H5JSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PlatformDynamicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.CashSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.InvitedToRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.HbChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ActivityCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.HuoDongDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.EnlargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.UserAccDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AssetstatisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MessageCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.CommuniqueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RewardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AddOrEditTheReceivingAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PastProductsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ProjectDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PhotoDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fragments.ManageInvestRecordActivity"
            android:screenOrientation="portrait" />
        ////===================宝付 start===================////
        <activity
            android:name="com.baofoo.sdk.vip.BaofooPayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        ////===================宝付 end====================////

        <!-- 友盟分享start -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105338543" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 友盟分享end -->

        <service
            android:name=".Service.UpdateService"
            android:enabled="true"
            android:exported="true" />

        <!-- ############################################################################### -->
        <!-- ########################## 极光推送 Start ####################################### -->
        <!-- ############################################################################### -->
        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle" />
        ////===================极光推送 start===================////

        <!-- jpush配置 -->
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.rongxun.xqlc" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.rongxun.xqlc" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.rongxun.xqlc" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".receiver.JpushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>

                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- &lt;!&ndash; Required  用户打开自定义通知栏的intent &ndash;&gt; -->
                <!-- <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> -->
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.rongxun.xqlc" />
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="db1e576722958d9431bec29a" /> <!-- 值来自开发者平台取得的AppKey -->
        <!-- ############################################################################### -->
        <!-- ########################## 极光推送 End ####################################### -->
        <!-- ############################################################################### -->


        <!-- 美配置恰 -->

        <activity
            android:name=".Activities.LoginPasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MoneyNegotiateActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.HistoryHongbaoActivity" />
        <activity android:name=".Activities.HistoryJiaxiActivity"></activity>
    </application>

</manifest>